.animacion{
    animation: animar 1s infinite alternate
    
}
@keyframes animar{
    to{
        transform: translatey(20px)
    }
}
.sombra{
    height: 10px;
    width: 50px;
    background: #333;
    border-radius: 50%;
    margin-left: 9px ;
    margin-top: 15px;
    transform: rotateX(-50deg);
    animation: sombra 1s infinite alternate;
}
@keyframes sombra{
    to{
        transform: scale(0.6) rotateX(-30deg);
    }
}